<div *ngIf='article'>
  <div class="article-container">
    <div class="row expanded">
      <div class="small-12 medium-9 columns">
        <a routerLink="#">{{article.title}}</a>
        <p> {{article.content}} </p>
      </div><!--column-->
      <div class="small-12 medium-3 columns">
      <a routerLink="/edit/{{article._id}}" class="btns" >Edit</a>
      <a (click)="deleteArticle(article._id)" class="btns" >Delete</a>
    </div><!--button-->
    </div><!--row-->
  </div><!--article-container-->
</div><!--article-->